// Container and breakpoints
$containerWidth: 1240 + px;
//$containerPadding: 40;
//$breakPoint1450: 1449.98 + px;
//$breakPoint992: 991.98 + px;
//$breakPoint768: 767.98 + px;
//$breakPoint480: 479.98 + px;

// Colors
$primary: #565555;

// btns
$blue: #0085FF;
$gray: #CCD4DB;

// tags
$purple: #5241BF;
$green: #41BFB0;

// Burger menu
//$burgerBreakpoint: $breakPoint992;
//$burgerColor: $primaryDark;
//$burgerActiveColor: white;

// Fonts
$fontMain: 'SF Pro Display', sans-serif;
$fontSecondary: 'Roboto', sans-serif;